<!DOCTYPE html>
<html>
<head>
  <title>quadratomat</title>
  <meta name="description" content="Page description. No longer than 155 characters." />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Quadratomat">
  <meta itemprop="description" content="Makin' you dizzy since 2015.">
  <meta itemprop="image" content="http://quadratomat.herokuapp.com/assets/og_image.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sebmenge">
  <meta name="twitter:title" content="Quadratomat">
  <meta name="twitter:description" content="Makin' you dizzy since 2015.">
  <meta name="twitter:creator" content="@sebmenge">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="http://quadratomat.herokuapp.com/assets/og_image.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Quadratomat" />
  <meta property="og:url" content="http://quadratomat.herokuapp.com/" />
  <meta property="og:image" content="http://quadratomat.herokuapp.com/assets/og_image.jpg" />
  <meta property="og:description" content="Makin' you dizzy since 2015." />
  <meta property="og:site_name" content="Quadratomat" />

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <div class="qt-logo">
    <%= image_tag "logo.png" %>
  </div>
</body>
</html>
